.navbar {
    display: flex;
    gap: 50%;
    position: sticky;
    top: 0;
  
} 


.logo{
    width: 150px;
    height: 110px;
    margin-left: 50px;
    margin-top: 20px;
}
.navigations{
    display: flex;
    flex-direction: row;
    gap: 17%;
    /* padding-left: 50px; */
    padding-top: 50px;
    font-size: large;

}
.navigations em{
    font-weight: bold;
}
.home{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
   
}
.ubora{
    font-weight: bold;
    font-size: 40px;
    padding-left: 100px;
    padding-top: 80px;
}
.unlocking{
    font-size: 30px;
    padding-left: 100px;
}
.intro{
    line-height:2px ;
}
.button{
    padding-top: 150px;
     padding: 50px; 
     padding-left: 150px;
     
}
.learnmore{
    font-size: large;
    font-style: italic;
    color: white;
    background-color: blueviolet;
    width: 300px;
    height: 50px;
    border-radius: 10px;
   
    
}
.kidsImage{
    height: 500px;
    width: 700px;
    padding-right: 300px;
    
  

}
.features{
    padding-top: 50px;
  padding-left: 400px;
  height: 250px;
  width: 1000px;
}

@media screen and (min-width:481px) and (max-width:680px){
    .navbar {
        /* display: flex;
        gap: 50%;
        position: sticky;
        top: 0; */
    display: inline-block;
    margin-right: 20px;
    flex-wrap: wrap;
}
kidsImage{
    height: 200px;
    width: 200px;
    padding-right: 300px;
    
  

}
}
@media screen and (min-width:280px) and (max-width:480px){
    .navbar {
        display: flex;
        /* gap: 50%; */
        position: sticky;
        top: 0;
      /* flex-wrap: wrap; */
    } 
    
    
    .logo{
        width: 150px;
        height: 110px;
        margin-left: 0px;
        margin-top: 20px;
        
    }
    .navigations{
        display: flex;
        flex-direction: column;
        /* gap: 17%; */
        padding-left: 50px;
        padding-top: 50px;
        font-size: 40px;
        /* flex-wrap: wrap;  */
    
    }
    .navigations em{
        font-weight: bold;
    }
    .home{
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        padding-top: 20px;
       
    }
    .ubora{
        font-weight: bold;
        font-size: 20px;
        padding-left: 100px;
        padding-top: 80px;
    }
    .unlocking{
        font-size: 20px;
        padding-left: 10px;
    }
    .intro{
        line-height:20px ;
        padding-left: 100px;
    }
    .button{
        padding-top: 150px;
         padding: 50px; 
         padding-left: 100px;
         
    }
    .learnmore{
        font-size: 20;
        font-style: italic;
        color: white;
        background-color: blueviolet;
        width: 100px;
        height: 50px;
        border-radius: 10px;
       
        
    }
    .kidsImage{
        height: 200px;
        width: 200px;
        /* padding-right: 300px; */
        
      
    
    }
    .features{
        padding-top: 50px;
      padding-left: 100px;
      height: 250px;
      width: 500px;
    }

    .container{
      padding-right: 0px;  
      padding-left: 0px;
    }

}
    
    @media screen and (min-width:881px) and (max-width:1024px){
        .navbar {
            /* display: flex; */
            gap: 50%;
            position: sticky;
            top: 0;
            flex-wrap: wrap;
          
        } 
        
        
        .logo{
            width: 150px;
            height: 110px;
            margin-left: 10px;
            margin-top: 20px;
        }
        .navigations{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 17%;
            /* padding-left: 50px; */
            padding-top: 50px;
            font-size: large;
            flex-direction: row;
        
        }
        .navigations em{
            font-weight: bold;
        }
        .home{
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
           
        }
        .ubora{
            font-weight: bold;
            font-size: 20px;
            padding-left: 10px;
            padding-top: 80px;
        }
        .unlocking{
            font-size: 30px;
            padding-left: 10px;
        }
        .intro{
            line-height:10px ;
        }
        .button{
            padding-top: 150px;
             padding: 50px; 
             padding-left: 10px;
             
        }
        .learnmore{
            font-size: 20;
            font-style: italic;
            color: white;
            background-color: blueviolet;
            width: 100px;
            height: 50px;
            border-radius: 10px;
           
            
        }
        .kidsImage{
            height: 200px;
            width: 200px;
            padding-right: 300px;
            
          
        
        }
        .features{
            padding-top: 50px;
          padding-left: 10px;
          height: 200px;
          width: 200px;
        }
    }
    
    @media screen and (min-width:881px) and (max-width:1024px){
        .navbar {
            /* display: flex; */
            gap: 50%;
            position: sticky;
            top: 0;
            flex-wrap: wrap;
            flex-direction: row;
          
        } 
        
        
        .logo{
            width: 150px;
            height: 110px;
            margin-left: 10px;
            margin-top: 20px;
        }
        .navigations{
            /* display: flex; */
            flex-direction: row;
            gap: 17%;
            /* padding-left: 50px; */
            padding-top: 50px;
            font-size: large;
            flex-wrap: wrap;
            flex-direction: row;
        
        }
        .navigations em{
            font-weight: bold;
        }
        .home{
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
           
        }
        .ubora{
            font-weight: bold;
            font-size: 20px;
            padding-left: 10px;
            padding-top: 80px;
        }
        .unlocking{
            font-size: 30px;
            padding-left: 10px;
        }
        .intro{
            line-height:2px ;
        }
        .button{
            padding-top: 150px;
             padding: 50px; 
             padding-left: 10px;
             
        }
        .learnmore{
            font-size: 20;
            font-style: italic;
            color: white;
            background-color: blueviolet;
            width: 300px;
            height: 50px;
            border-radius: 10px;
           
            
        }
        .kidsImage{
            height: 200px;
            width: 200px;
            padding-right: 300px;
            
          
        
        }
        .features{
            padding-top: 50px;
          padding-left: 10px;
          height: 250px;
          width: 1000px;
        }
    }





