


#features-container{

    padding: 20px 100px;
    
    }
    
    #features-paragraph{
    
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #features-heading{
    
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #features-details{
    
    display: flex;
    gap: 200px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #QnA-heading{
    
        text-align: center;
    font-size: 30px;
    color: #644777;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #QnA-paragraph{
    
    font-size: 25px;
    margin-bottom: 90px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #practicals-heading{
    
        text-align: center;
    font-size: 30px;
    color: #644777;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #practicals-paragraph{
    
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    
    
    @media only screen and (min-width: 250px) and (max-width: 290px){
    
        #features-container{
    
            padding: 0px 5px;
            
            }
            
            #features-paragraph{
            
            padding: 0px 10px;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
    
            .features{
    
                width: 290px;
                height: 100px;
                margin-left: 10px;
    
            }
    
            #features-heading{
    
                font-size: 25px;
                padding-left: 10px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                #features-details{
                
                    flex-direction: column;
                    gap: 0px;
                    padding-top: 5px;
                    font-family: Arial, Helvetica, sans-serif;
                    }
    
                    #QnA-heading{
    
                        text-align: center;
                    font-size: 20px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #QnA-paragraph{
                    
                    font-size: 15px;
                    padding:0px 5px 0px 10px;
                    margin-bottom: 5px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
        
                    #practicals-heading{
        
                    text-align: center;
                    font-size: 20px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #practicals-paragraph{
                    
                    padding: 0px 5px 0px 10px;
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
    
    
                    .practicals-image{
    
                        width: 340px;
                        height: 160px;
                        border-radius: 20px;
                        justify-content: center;
                        /* padding-left: 50px; */
                        
                    }
        
                    .QnA-image{
        
                        width: 350px;
                        height: 100px;
                        border-radius: 20px;
                        
                    }
       
    }
    
    
    @media only screen and (min-width: 300px) and (max-width: 390px){
    
        #features-container{
    
            padding: 0px 5px;
            
            }
            
            #features-paragraph{
            
            padding: 0px 10px;
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
    
            .features{
    
                width: 310px;
                height: 100px;
                margin-left: 20px;
    
            }
    
            #features-heading{
    
                font-size: 20px;
                padding-left: 10px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                #features-details{
                
                    flex-direction: column;
                    gap: 0px;
                    padding-top: 5px;
                    font-family: Arial, Helvetica, sans-serif;
                    }
    
                    #QnA-heading{
    
                        text-align: center;
                    font-size: 17px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #QnA-paragraph{
                    
                    font-size: 13px;
                    padding: 0px 30px;
                    margin-bottom: 5px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
        
                    #practicals-heading{
        
                    text-align: center;
                    font-size: 17px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #practicals-paragraph{
                    
                    padding: 0px 30px;
                    font-size: 13px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
    
                    .practicals-image{
    
                        width: 350px;
                        height: 150px;
                        border-radius: 20px;
                        justify-content: center;
                        /* padding-left: 50px; */
                        
                    }
        
                    .QnA-image{
        
                        width: 300px;
                        height: 100px;
                        padding-left: 20px;
                        border-radius: 20px;
                        
                    }
       
    }
    
    
    @media only screen and (min-width: 400px) and (max-width: 450px){
    
        #features-container{
    
            padding: 7px 5px;
            
            }
            
            #features-paragraph{
            
            padding: 0px 10px;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
    
            .features{
    
                width: 340px;
                height: 130px;
                margin-left: 30px;
    
            }
    
            #features-heading{
    
                font-size: 35px;
                padding-left: 10px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                #features-details{
                
                    flex-direction: column;
                    gap: 0px;
                    padding-top: 10px;
                    padding-left: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    }
    
                    #QnA-heading{
    
                        text-align: center;
                    font-size: 25px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #QnA-paragraph{
                    
                    font-size: 17px;
                    padding: 0px 50px;
                    margin-bottom: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
        
                    #practicals-heading{
        
                    text-align: center;
                    font-size: 25px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #practicals-paragraph{
                    
                    padding: 0px 50px;
                    font-size: 17px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
    
                    .practicals-image{
    
                        width: 370px;
                        height: 160px;
                        border-radius: 20px;
                        justify-content: center;
                        /* padding-left: 50px; */
                        
                    }
        
                    .QnA-image{
        
                        width: 350px;
                        height: 100px;
                        border-radius: 20px;
                        
                    }
       
    }
    
    @media only screen and (min-width: 500px) and (max-width: 550px){
    
        #features-container{
    
            padding: 0px 5px;
            
            }
            
            #features-paragraph{
            
            padding: 0px 10px;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
    
            #features-heading{
    
                font-size: 35px;
                padding-left: 10px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                #features-details{
                
                    flex-direction: column;
                    gap: 0px;
                    padding-top: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    }
    
                    #QnA-heading{
    
                        text-align: center;
                    font-size: 20px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #QnA-paragraph{
                    
                    font-size: 15px;
                    padding: 0px 50px;
                    margin-bottom: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
        
                    #practicals-heading{
        
                        text-align: center;
                    font-size: 20px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #practicals-paragraph{
                    
                    padding: 0px 50px;
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
    
    
                    .practicals-image{
    
                        width: 510px;
                        height: 160px;
                        border-radius: 20px;
                        padding-left: 10px;
                        
                    }
        
                    .QnA-image{
        
                        width: 350px;
                        height: 90px;
                        border-radius: 20px;
                        padding-left: 70px;
                        
                    }
    
        
    }
    
    
    
    @media only screen and (min-width: 700px) and (max-width: 820px){
    
        #features-container{
    
            padding: 0px 10px;
            
            }
            
            #features-paragraph{
            
            padding: 0px 30px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
    
            .features{
    
                width: 500px;
                height: 200px;
                margin-left: 125px;
    
            }
    
            #features-heading{
    
                font-size: 30px;
                padding-left: 5px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                #features-details{
                
                    flex-direction: column;
                    gap: 0px;
                    padding-top: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    }
    
                    #QnA-heading{
    
                        text-align: center;
                    font-size: 30px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #QnA-paragraph{
                    
                    font-size: 20px;
                    padding: 0px 50px;
                    margin-bottom: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
        
                    #practicals-heading{
        
                        text-align: center;
                    font-size: 30px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #practicals-paragraph{
                    
                    padding: 0px 50px;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
    
                    .practicals-image{
    
                        width: 750px;
                        height: 300px;
                        border-radius: 20px;
                        
                    }
        
                    .QnA-image{
        
                        width: 400px;
                        height: 150px;
                        padding-left: 130px;
                        border-radius: 20px;
                        
                    }
    
        
    }
    
    
    @media only screen and (min-width: 850px) and (max-width: 950px){
    
        #features-container{
    
            padding: 0px 10px;
            
            }
            
            #features-paragraph{
            
            padding: 5px 30px;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
    
            /* .features{
    
                width: 500px;
                height: 200px;
                margin-left: 200px;
    
            } */
    
            #features-heading{
    
                font-size: 40px;
                padding-left: 5px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                #features-details{
                
                    flex-direction: column;
                    gap: 0px;
                    padding-top: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    }
    
                    #QnA-heading{
    
                        text-align: center;
                    font-size: 30px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #QnA-paragraph{
                    
                    font-size: 25px;
                    padding: 0px 50px;
                    margin-bottom: 5px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
        
                    #practicals-heading{
        
                        text-align: center;
                    font-size: 30px;
                    color: #644777;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
                    
                    #practicals-paragraph{
                    
                    padding: 5px 50px;
                    font-size: 25px;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    }
    
                    .practicals-image{
    
                        width: 890px;
                        height: 400px;
                        border-radius: 20px;
                        
                    }
        
                    .QnA-image{
        
                        width: 500px;
                        height: 230px;
                        padding-left: 200px;
                        border-radius: 20px;
                        
                    }
       
    }
    
    
    
    @media only screen and (min-width: 1000px){
        
        #features-container{
    
            padding: 0px 10px;
            
            }
            
            #features-paragraph{
            
            /* text-align: center; */
            padding-left: 20px;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
    
            #features-heading{
    
                font-size: 35px;
                padding-left: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                
                }
                
                #features-details{
    
                padding-left: 10px;
                display: flex;
                gap: 0px;
                padding-top: 30px;
                font-family: Arial, Helvetica, sans-serif;
                }
    
                #QnA-heading{
    
                    text-align: center;
                font-size: 25px;
                color: #644777;
                font-family: Arial, Helvetica, sans-serif;
                
                }
                
                #QnA-paragraph{
                
                font-size: 18px;
                padding: 0px 20px;
                /* margin-bottom: 0px; */
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                #practicals-heading{
    
                    text-align: center;
                font-size: 25px;
                color: #644777;
                font-family: Arial, Helvetica, sans-serif;
                
                }
                
                #practicals-paragraph{
                
                padding: 0px 20px;
                font-size: 18px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                .practicals-image{
    
                    width: 420px;
                    height: 200px;
                    border-radius: 20px;
                    
                }
    
                .QnA-image{
    
                    width: 350px;
                    height: 150px;
                    border-radius: 20px;
                    
                }
    
    }
    
    @media only screen and (min-width: 1200px){
        
        #features-container{
    
            padding: 20px;
            
            }
            
            #features-paragraph{
            
            padding-left: 10px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            
            }
    
            #features-heading{
    
                font-size: 40px;
                padding-left: 10px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
                
                #features-details{
                
                display: flex;
                gap: 0px;
                padding-top: 50px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                #QnA-heading{
    
                    text-align: center;
                font-size: 30px;
                color: #644777;
                font-family: Arial, Helvetica, sans-serif;
                
                }
                
                #QnA-paragraph{
                
                font-size: 20px;
                margin-bottom: 70px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                #practicals-heading{
    
                    text-align: center;
                font-size: 30px;
                color: #644777;
                font-family: Arial, Helvetica, sans-serif;
                
                }
                
                #practicals-paragraph{
                
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                
                }
    
                .practicals-image{
    
                    width: 520px;
                    height: 300px;
                    border-radius: 20px;
                    
                }
    
    }