
#features-container{
    padding: 10px 360px;

    }
    
    #features-paragraph{
   
    text-align: center;
    width: 900px;
    margin: 0px 400px;
    font-size: 40px;
    font-family: 'old standard tt';
    
    }
    
    #features-heading{
    
    font-size: 55px;
    margin-top: 1%;
    font-size: 80px;
    text-align: center;
    font-family: 'old standard tt';
    
    }
    
    #features-details{
    display: flex;
    gap: 170px;
    padding-top: 0px;
    padding-left: 210px;
    font-family: 'old standard tt';
    
    }
    
    #QnA-heading{
    text-align: center;
    font-size: 55px;
    
    text-align: center;
    font-size: 40px;
    color: #644777;
    font-family: 'old standard tt';
    
    }
    
    #QnA-paragraph{
    
    width: 640px;
    font-size: 40px;
    margin-bottom: 120px;
    font-family: 'old standard tt';
    
    }
    
    #practicals-heading{
    
    text-align: center;
    font-size: 55px;
    color: #644777;
    font-family: 'old standard tt';
    
    }
    
    #practicals-paragraph{
    
    width: 580px;
    font-size: 40px;
    font-family: 'old standard tt';
    
    }

    .practicals-image{
    
        width: 600px;
        height: 370px;
        padding-top:70px;
        border-radius: 20px;
        
    }


    .QnA-image{
        width: 700px;
        height: 250px;
        border-radius: 20px;
        
    }



    
    @media only screen and (min-width:280px) and (max-width:359px){
              
        #features-container{
            padding: 0px 10px;
            }
            
            #features-paragraph{
            font-size: 15px;
            width: 290px;
            margin: 0px 10px;
            width: 300px;
            margin: 0px 5px;
            text-align: left;
            margin-left: 6.5%;
            
            }
            
            #features-heading{
            font-size: 30px;

            
            font-size: 38px;
            margin-left: 5%;
            padding: 0px 110px;

            
            }

            #features-details{

                flex-direction: column;
                gap: 0px;
                padding: 0px 5px;
                
                }

                #QnA-heading{
    
                font-size: 20px;
                padding-left: 72px;
                
                }
                
                #QnA-paragraph{

                width: 300px;
                /* text-align: center; */
                font-size: 15px;
                margin: 0px;
                margin-left: 5.5%;
                
                }
                
                #practicals-heading{
                
                font-size: 20px;
                padding-left: 72px;
                
                }
               
                .QnA-image{
    
                    width: 300px;
                    height: 110px;
                    padding-left: 20px;
                    
                }

                #practicals-paragraph{

                    width: 300px;
                    font-size: 15px;
                    margin-left: 5.5%;
                    /* text-align: center; */
                    
                    }
                
                    .practicals-image{
                    
                        width: 300px;
                        height: 180px;
                        padding-left: 14.5px;
                        
                    }


    }



    @media only screen and (min-width:360px) and (max-width:390px){
              
        #features-container{

            padding: 0px;
            
            }
            
            #features-paragraph{
            margin-left: -5%;
            font-size: 14.5px;
            width: 310px;
            margin: 0px 30px;
            text-align: start;
            
            }
            
            #features-heading{
            
        
            font-size: 45px;
            padding: 0px 10px;
            margin-left: 18%;
            
            }

            #features-details{

                flex-direction: column;
                gap: 0px;
                padding: 0px 30px;
                
                }

                #QnA-heading{
                margin-left: 14%;
                font-size: 20.5px;
                padding: 0px 10px;
                
                }
                
                #QnA-paragraph{

                width: 310px;
                /* text-align: center; */
                font-size: 14.5px;
                margin: 0px;
                
                }
                
                #practicals-heading{
                
                font-size: 20px;
                padding: 0px 10px;
                margin-left: 14%;
                
                }
               
                .QnA-image{
    
                    width: 300px;
                    height: 110px;
                    padding-left: 20px;
                    
                }

                #practicals-paragraph{

                    width: 310px;
                    font-size: 14.5px;
                    /* text-align: center; */
                    
                    }
                
                    .practicals-image{
                    
                        width: 300px;
                        height: 180px;
                        padding-left: 10px;
                        
                    }

    }


    @media only screen and (min-width:400px) and (max-width:450px){
              
        #features-container{

            padding: 0px;
            
            }
            
            #features-paragraph{
            
            font-size: 17px;
            /* margin-left: 8%; */
            width: 350px;
            margin: 0px 30px;
            text-align: left;
            
            }
            
            #features-heading{
            
            font-size: 40px;
            margin-left: 15%;
            
            }

            #features-details{

                flex-direction: column;
                gap: 0px;
                padding: 0px 40px;
                
                }

                #QnA-heading{
    
                font-size: 19.5px;
                
                }
                
                #QnA-paragraph{

                width: 330px;
                /* text-align: center; */
                font-size: 17px;
                margin: 0px;
                
                }
                
                #practicals-heading{
                
                font-size: 19.5px;
                
                }
               
                .QnA-image{
    
                    width: 350px;
                    height: 130px;
                    padding-left: 0px;
                    
                }

                #practicals-paragraph{

                    width: 330px;
                    font-size: 17px;
                    /* text-align: center; */
                    
                    }
                
                    .practicals-image{
                    
                        width: 330px;
                        height: 190px;
                        
                    }
        


    }

    @media only screen and (min-width:500px) and (max-width:550px){
              
        #features-container{

            padding: 0px;
            
            }
            
            #features-paragraph{
            
            font-size: 15px;
            width: 450px;
            margin: 0px 50px;
            text-align: start;
            
            }
            
            #features-heading{
            
            font-size: 25px;
            margin-left: 14%;
            
            }

            #features-details{

                flex-direction: column;
                gap: 0px;
                padding: 0px 45px;
                
                }

                #QnA-heading{
    
                font-size: 20px;
                margin: 0px 100px 0px 80px;
                
                }
                
                #QnA-paragraph{

                width: 450px;
                /* margin: 0px 30px; */
                text-align: start;
                font-size: 15px;
                margin: 0px;
                
                }
                
                #practicals-heading{
                
                font-size: 20px;
                margin: 10px 100px 0px 80px;
                
                }
               
                .QnA-image{
    
                    width: 350px;
                    height: 120px;
                    padding-left: 30px;
                    
                }

                #practicals-paragraph{

                    width: 450px;
                    /* margin: 0px 30px; */
                    font-size: 15px;
                    text-align: start;
                    
                    }
                
                    .practicals-image{
                    
                        width: 445px;
                        height: 240px;
                        
                    }
        

    }

    @media only screen and (min-width:720px) and (max-width:800px){
              
        #features-container{

            padding: 0px;
            
            }
            
            #features-paragraph{
            
            font-size: 21px;
            width: 650px;
            margin: 0px 70px;
            text-align: start;
            
            }
            
            #features-heading{
            
            font-size: 40px;
            padding:0px 10px;
            
            }

            #features-details{

                flex-direction: column;
                gap: 5px;
                padding-left: 60px;
                
                }

                #QnA-heading{
    
                font-size: 30px;
                margin: 0px 270px 0px 200px;
                
                }
                
                #QnA-paragraph{
                
                width: 650px;
                font-size: 21px;
                margin-bottom: 5px;
                
                }
                
                #practicals-heading{
                
                font-size: 30px;
                margin: 0px 270px 0px 200px;
                
                }
               
                .QnA-image{
    
                    width: 450px;
                    height: 170px;
                    padding-left: 70px;
                    
                }

                #practicals-paragraph{
                    width: 650px;
                    font-size: 21px;
                    /* text-align: center; */
                    
                    }
                
                    .practicals-image{
                    
                        width: 550px;
                        height: 300px;
                        /* justify-content: center; */
                        padding-left: 10px;
                        
                    }
        

    }

    @media only screen and (min-width:820px) and (max-width:900px){
              
        #features-container{

            padding: 0px;
            
            }
            
            #features-paragraph{
            
            font-size: 25px;
            width: 730px;
            text-align: start;
            margin: 0px 55px;
            
            }
            
            #features-heading{
            
            font-size: 40px;
            
            }

            #features-details{

                flex-direction: column;
                gap: 5px;
                padding-left: 60px;
                
                }

                #QnA-heading{
    
                font-size: 30px;
                
                }
                
                #QnA-paragraph{
                
            
                width: 715px;
                text-align: start;
                font-size: 25px;
                margin-bottom: 0px;
                
                }
                
                #practicals-heading{
                
                font-size: 30px;
                
                }
               
                .QnA-image{
    
                    width: 520px;
                    height: 170px;
                    padding-left: 70px;
                    
                }

                #practicals-paragraph{
                    
                    font-size: 25px;
                    width: 715px;
                    text-align: start;
                    
                    }
                
                    .practicals-image{
                    
                        width: 690px;
                        height: 360px;
                        
                    }
        

    }

    @media only screen and (min-width:901px) and (max-width:1000px){
              
        #features-container{

            padding: 0px;
            
            }
            
            #features-paragraph{
            
            font-size: 30px;
            width: 800px;
            text-align: start;
            margin: 0px 55px;
            margin-left: 8.4%;
            
            }
            
            #features-heading{
            
            font-size: 40px;
            
            }

            #features-details{

                flex-direction: column;
                gap: 5px;
                padding-left: 55px;
                
                }

                #QnA-heading{
    
                font-size: 30px;
                
                }
                
                #QnA-paragraph{
                
                width: 800px;
                text-align: start;
                font-size: 30px;
                margin-bottom: 0px;
                margin-left: 2.6%;
                
                }
                
                #practicals-heading{
                
                font-size: 30px;
                
                }
               
                .QnA-image{
    
                    width: 600px;
                    height: 200px;
                    padding-left: 70px;
                    
                }

                #practicals-paragraph{
                    
                    font-size: 30px;
                    width: 800px;
                    text-align: start;
                    margin-left: 2.6%;
                    
                    }
                
                    .practicals-image{
                    
                        width: 770px;
                        height: 400px;
                        margin-left: 2.7%;
                        
                    }
        

    }

    @media only screen and (min-width:1000px) and (max-width:1190px){
              
        #features-container{

            padding: 0px;
            
            }
            
            #features-paragraph{
            
            font-size: 25px;
            width: 730px;
            margin: 0px 210px;
            margin-left: 15%;
            
            }
            
            #features-heading{
            
            font-size: 50px;
            margin-left: 10%;
            
            }

            #features-details{
    
                gap: 30px;
                padding-left: 120px;
                
                }

                #QnA-heading{
    
                font-size: 25px;
                margin-bottom: -2%;
                
                }
                
                #QnA-paragraph{
                    
                width: 400px;
                font-size: 26px;
                margin-bottom: 100px;
               
                
                }
                
                #practicals-heading{
                
                font-size: 25px;
             
                
                }
               
                .QnA-image{
    
                    width: 400px;
                    height: 150px;
                    
                }

                #practicals-paragraph{

                    width: 360px;
                    font-size: 25px;
                    
                    }
                
                    .practicals-image{
                        margin-top: 6%;
                        width: 350px;
                        height: 230px;
                        
                    }
        

    }
    
    
    @media only screen and (min-width:1200px) and (max-width:1400px){
              
        #features-container{

            padding: 0px;
            
            }
            
            #features-paragraph{
            
            font-size: 25px;
            width: 750px;
            margin: 0px 250px;
            
            }
            
            #features-heading{
            
            font-size: 50px;
            margin-left: 16%;
            
            }

            #features-details{
    
                gap: 20px;
                padding-left: 130px;
                
                }

                #QnA-heading{
    
                font-size: 30px;
                
                }
                
                #QnA-paragraph{
                
                width: 510px;
                font-size: 25px;
                margin-bottom: 150px;
                
                }
                
                #practicals-heading{
                
                font-size: 30px;
                
                }
               
                .QnA-image{
    
                    width: 500px;
                    height: 200px;
                    
                }

                #practicals-paragraph{

                    width: 450px;
                    font-size: 25px;
                    
                    }
                
                    .practicals-image{
                    
                        width: 500px;
                        height: 320px;
                        
                    }
        

    }