.intro{
    margin-left: 28%;
}
.par{
    margin-left: 4.5%;
}

.heading{
    margin-left: 18%;
    font-size: 35px;
}

.questions{
    margin-left: 6%;
    margin-top: 3%;
}
.minus{
    margin-left: 32%;
}

.plus{
    margin-left: 24%;
    size: 10%;

}
.plus-sec{
    margin-left: 32%;
}
.plus-third{
    margin-left: 22%;
}
.line{
    width: 60%;
    margin-left: -3.5%;
}
.que{
    color: purple;
}

.search{
    margin-left: 25%;
    margin-top: 5%; 

}

.search-button{
    width: 70%;
    height: 40px;
    margin-left: -16%;
    border-radius: 5%;
    border: none;
}
.search-par{
    margin-top: 30px;
    font-size: 40px;
    margin-left: -24%;
}
.search-submit{
    height: 40px;
    width: 15%;
    border-radius: 10%;
    border: none;
    margin-left: 0.3%;
}
.search-image{
    position: relative;
    margin-left: -35%;
    width: 90%;
    height: 230px;
    opacity: 42%;
}

.text-over{
    position: absolute;
    margin-top: -12%;
}
#faqs{
    text-align: center;
    font-size: 45px;
}


@media screen and (min-width:280px) and (max-width:480px){
    .intro{
        margin-left: 14%;
    }
    .par{
        margin-left: -1.5%;
    }
    
    .heading{
        margin-left: 2%;
        font-size: 20px;
    }
    .questions{
        margin-left: -3%;
        margin-top: 3%;
    }
    .minus{
        margin-left: 86%;
        margin-top: -18%;
    }
    
    .plus{
        margin-left: 84%;
        margin-top: -17%;
    
    }
    .plus-sec{
        margin-left: 82%;
        margin-top: -6%;
    }
    .plus-third{
        margin-left: 82%;
    }
    .line{
        width: 95%;
        margin-left: -3.5%;
    }
    .que{
        color: purple;
    }
    
    .search{
        margin-left: 25%;
        margin-top: 5%; 
    
    }
    
    .search-button{
        width: 75%;
        height: 38px;
        margin-left: -24%;
        border-radius: 5%;
        border: none;
    }
    .search-par{
        margin-top: 5px;
        font-size: 20px;
        /* margin-right: 2%; */
        margin-left: -28%;
    }
    .search-submit{
        height: 38px;
        width: 25%;
        border-radius: 10%;
        border: none;
        margin-left: 0.3%;
    }
    .search-image{
        position: relative;
        margin-left: -40%;
        width: 128%;
        height: 150px;
        opacity: 42%;
    }
    
    .text-over{
        position: absolute;
        margin-top: -34%;
    }
    #faqs{
        text-align: center;
        font-size: 45px;
    }
    

}

@media screen and (min-width:481px) and (max-width:680px){
    .intro{
        margin-left: 28%;
    }
    .par{
        margin-left: -4.5%;
    }
    
    .heading{
        margin-left: -5%;
        font-size: 30px;
    }
    
    .questions{
        margin-left: -10%;
        margin-top: 3%;
    }
    .minus{
        margin-left: -0.2%;
        /* margin-right: 60%; */
    }
    
    .plus{
        margin-left: 24%;
        size: 10%;
    
    }
    .plus-sec{
        margin-left: 32%;
    }
    .plus-third{
        margin-left: 22%;
    }
    .line{
        width: 95%;
        margin-left: -3.5%;
    }
    .que{
        color: purple;
    }
    
    .search{
        margin-left: 25%;
        margin-top: 5%; 
    
    }
    
    .search-button{
        width: 70%;
        height: 40px;
        margin-left: -22%;
        border-radius: 5%;
        border: none;
    }
    .search-par{
        margin-top: 30px;
        font-size: 40px;
        margin-left: -24%;
    }
    .search-submit{
        height: 40px;
        width: 20%;
        border-radius: 10%;
        border: none;
        margin-left: 0.3%;
    }
    .search-image{
        position: relative;
        margin-left: -46%;
        width: 130%;
        height: 200px;
        opacity: 42%;
    }
    
    .text-over{
        position: absolute;
        margin-top: -40%;
        margin-right: 5%;
    }
    #faqs{
        text-align: center;
        font-size: 45px;
    }

}

@media screen and (min-width:681px) and (max-width:880px){
    .intro{
        margin-left: 28%;
    }
    .par{
        margin-left: -10%;
    }
    
    .heading{
        margin-left: -9%;
        font-size: 35px;
    }
    
    .questions{
        margin-left: -10%;
        margin-top: 3%;
    }
    .minus{
        margin-left: 35%;
    }
    
    .plus{
        margin-left: 18%;
        size: 10%;
    
    }
    .plus-sec{
        margin-left: 34.8%;
    }
    .plus-third{
        margin-left: 15%;
    }
    .line{
        width: 90%;
        margin-left: -3.5%;
    }
    .que{
        color: purple;
    }
    
    .search{
        margin-left: 25%;
        margin-top: 5%; 
    
    }
    
    .search-button{
        width: 60%;
        height: 40px;
        margin-left: -22%;
        border-radius: 5%;
        border: none;
    }
    .search-par{
        margin-top: 30px;
        font-size: 40px;
        margin-left: -24%;
    }
    .search-submit{
        height: 40px;
        width: 15%;
        border-radius: 10%;
        border: none;
        margin-left: 0.3%;
    }
    .search-image{
        position: relative;
        margin-left: -44%;
        width: 120%;
        height: 230px;
        opacity: 42%;
    }
    
    .text-over{
        position: absolute;
        margin-top: -28%;
        margin-right: -22%;
        
    }
    #faqs{
        text-align: center;
        font-size: 45px;
        margin-left: 4%;
    }

}

@media screen and (min-width:881px) and (max-width:1024px){
    .intro{
        margin-left: -12%;
    }
    .par{
        margin-left: 20.5%;
    }
    
    .heading{
        margin-left: 18%;
        font-size: 35px;
    }
    
    .questions{
        margin-left: 20%;
        margin-top: 3%;
    }
    .minus{
        margin-left: 32%;
    }
    
    .plus{
        margin-left: 24%;
        size: 10%;
    
    }
    .plus-sec{
        margin-left: 32%;
    }
    .plus-third{
        margin-left: 22%;
    }
    .line{
        width: 60%;
        margin-left: -3.5%;
    }
    .que{
        color: purple;
    }
    
    .search{
        margin-left: 25%;
        margin-top: 5%; 
    
    }
    
    .search-button{
        width: 70%;
        height: 40px;
        margin-left: -2%;
        border-radius: 5%;
        border: none;
    }
    .search-par{
        margin-top: -30px;
        font-size: 30px;
        margin-left: 20%;
    }
    .search-submit{
        height: 40px;
        width: 15%;
        border-radius: 10%;
        border: none;
        margin-left: 0.3%;
    }
    .search-image{
        position: relative;
        margin-left: -10%;
        width: 85%;
        height: 255px;
        opacity: 42%;
    }
    
    .text-over{
        position: absolute;
        margin-top: -16%;
    }
    #faqs{
        text-align: center;
        font-size: 45px;
    }
    
    

}


@media screen and (min-width:1025px) and (max-width:1280px){
    .intro{
        margin-left: -12%;
    }
    .par{
        margin-left: 28%;
    }
    
    .heading{
        margin-left: 39%;
        font-size: 35px;
    }
    
    .questions{
        margin-left: 28%;
        margin-top: 3%;
    }
    .minus{
        margin-left: 32%;
    }
    
    .plus{
        margin-left: 24%;
        size: 10%;
    
    }
    .plus-sec{
        margin-left: 32%;
    }
    .plus-third{
        margin-left: 22%;
    }
    .line{
        width: 80%;
        margin-left: -3.5%;
    }
    .que{
        color: purple;
    }
    
    .search{
        margin-left: 25%;
        margin-top: 5%; 
    
    }
    .search-button{
        width: 70%;
        height: 40px;
        margin-left: -0.1%;
        border-radius: 5%;
        border: none;
    }
    
    .search-par{
        margin-top: -30px;
        font-size: 30px;
        margin-left: 20%;
    }
    .search-submit{
        height: 40px;
        width: 15%;
        border-radius: 10%;
        border: none;
        /* margin-left: 105%; */
        /* margin-top: -40%; */
    }
    .search-image{
        position: relative;
        margin-left: 3%;
        width: 70%;
        height: 240px;
        opacity: 42%;
        margin-top: -20px;
    }
    
    .text-over{
        position: absolute;
        margin-top: -16%;
    }
    #faqs{
        text-align: center;
        font-size: 45px;
        margin-left: 3%;
    }
    
    

}


