body{
     margin-right: 50px; 
    
}

.par{
    margin-left: 30%;
    margin-top: 1.5%;
}
.heading{
    margin-left: 38%;
    font-size: 35px;
    margin-top: -2.1%;
} 
#faqs{
    text-align: center;
    font-size: 90px;
    /* margin-top: -0.8%; */
    /* margin-bottom: 2%; */
}

.search{
    margin-left: 25%;
    margin-top: 5%; 

}

.search-button{
    width: 68%;
    height: 40px;
    margin-left: -18%;
    margin-top: -5%;
    background-color: white;
    border: none;
}
.search-par{
    margin-top: 10px;
    font-size: 48px;
    margin-left: -28%;
}
.search-submit{
    height: 40px;
    width: 14%;
    background-color: white;
    border: none;
    margin-left: 0.7%;
}
.search-image{
    position: relative;
    margin-left: 4.8%;
    width: 61%;
    height: 190px;
    opacity: 40%;
    margin-top: -3.5%;
}

.text-over{
    position: absolute;
    margin-top: -10.5%;
    margin-left: 18.9%;
}




@media screen and (min-width:280px) and (max-width:360px){
    #faqs{
        text-align: center;
        font-size: 50px;
        margin-top: -0.1%;
        margin-left: 20%;
    }
    .heading{
        margin-left: 16%;
        font-size: 18px;
        margin-top: -1.5%;
    } 
    .par{
        margin-left: 10%;
        margin-top: 2.5%;
        width: 85%;

    }

    .search-button{
        width: 88%;
        height: 35px;
        margin-left: -32%;
        margin-top: -5%;
        background-color: white;
        border: none;
    }
    .search-par{
        margin-top: 24px;
        font-size: 23px;
        margin-left: -41.5%;
    }
    .search-submit{
        height: 35px;
        width: 24%;
        background-color: white;
        border: none;
        margin-left: 0.7%;
    }
    .search-image{
        position: relative;
        margin-left: -26.9%;
        width: 144%;
        height: 150px;
        opacity: 40%;
        margin-top: -3.5%;
    }
    .text-over{
        position: absolute;
        margin-top: -43.5%;
        margin-left: 13.5%;
    }


}


@media screen and (min-width:361px) and (max-width:390px){
    #faqs{
        text-align: center;
        font-size: 50px;
        margin-top: -0.1%;
        margin-left: 22%;
    }
    .heading{
        margin-left: 15%;
        font-size: 20px;
        margin-top: -1.5%;
    } 
    .par{
        margin-left: 12%;
        margin-top: 2.5%;
        width: 90%;
        font-size: 13px;
    }

.search-button{
    width: 89%;
    height: 35px;
    margin-left: -31%;
    margin-top: -5%;
    background-color: white;
    border: none;
}
.search-par{
    margin-top: 30px;
    font-size: 24px;
    margin-left: -38%;
}
.search-submit{
    height: 35px;
    width: 24%;
    background-color: white;
    border: none;
    margin-left: 0.7%;
}
.search-image{
    position: relative;
    margin-left: -26.9%;
    width: 141%;
    height: 150px;
    opacity: 40%;
    margin-top: -3.5%;
}
.text-over{
    position: absolute;
    margin-top: -43.5%;
    margin-left: 13.5%;
}

}


@media screen and (min-width:400px) and (max-width:450px){
    #faqs{
        text-align: center;
        font-size: 50px;
        margin-top: -0.1%;
        margin-left: 22%;
    }
    .heading{
        margin-left: 20%;
        font-size: 20px;
        margin-top: -1.5%;
    } 
    .par{
        margin-left: 15%;
        margin-top: 2.5%;
        width: 88%;
    }

.search-button{
    width: 91%;
    height: 38px;
    margin-left: -36%;
    margin-top: -5%;
    background-color: white;
    border: none;
}
.search-par{
    margin-top: 23px;
    font-size: 26px;
    margin-left: -42%;
}
.search-submit{
    height: 38px;
    width: 24%;
    background-color: white;
    border: none;
    margin-left: 0.7%;
}
.search-image{
    position: relative;
    margin-left: -28%;
    width: 141%;
    height: 150px;
    opacity: 40%;
    margin-top: -3.5%;
}

.text-over{
    position: absolute;
    margin-top: -38.5%;
    margin-left: 15.5%;
}



}



@media screen and (min-width:500px) and (max-width:550px){
    #faqs{
        text-align: center;
        font-size: 50px;
        margin-top: -0.1%;
        margin-left: 19%;
    }
    .heading{
        margin-left: 27%;
        font-size: 20px;
        margin-top: -1.5%;
    } 
    .par{
        margin-left: 12%;
        margin-top: 2.5%;
    }

.search-button{
    width: 68%;
    height: 40px;
    margin-left: -23%;
    margin-top: -5%;
    background-color: white;
    border: none;
}

.search-image{
    position: relative;
    margin-left: -28.8%;
    width: 138%;
    height: 190px;
    opacity: 40%;
    margin-top: -3.5%;
}



.search-par{
    margin-top: 10px;
    font-size: 28px;
    margin-left: -34%;
}
.search-submit{
    height: 40px;
    width: 24%;
    background-color: white;
    border: none;
    margin-left: 0.7%;
}

.text-over{
    position: absolute;
    margin-top: -38.5%;
    margin-left: 15.5%;
}
.search-button{
    width: 88%;
    height: 40px;
    margin-left: -35%;
    margin-top: -5%;
    background-color: white;
    border: none;
}

.search-par{
    margin-top: 10px;
    font-size: 31px;
    margin-left: -45%;
}
.search-submit{
    height: 40px;
    width: 17%;
    background-color: white;
    border: none;
    margin-left: 0.7%;
}


.text-over{
    position: absolute;
    margin-top: -30.5%;
    margin-left: 18.5%;
}


}


@media screen and (min-width:720px) and (max-width:800px){

    .par{
        margin-left: 20%;
        margin-top: 2.5%;
        width: 76%;
        font-size: 20px;
    }
    .heading{
        margin-left: 22%;
        font-size: 35px;
        margin-top: -1.5%;
    } 
    #faqs{
        text-align: center;
        font-size: 80px;
        margin-top: -0.1%;
    }

    .search{
        margin-left: 25%;
        margin-top: 5%; 
    
    }
    
    .search-button{
        width: 74%;
        height: 40px;
        margin-left: -26%;
        margin-top: -7%;
        background-color: white;
        border: none;
    }
    .search-par{
        margin-top: 5px;
        font-size: 39px;
        margin-left: -34%;
    }
    .search-submit{
        height: 40px;
        width: 16%;
        background-color: white;
        border: none;
        margin-left: 0.7%;
    }
    .search-image{
        position: relative;
        margin-left: -23.8%;
        width: 124%;
        height: 190px;
        opacity: 40%;
        margin-top: -3.5%;
    }
    
    .text-over{
        position: absolute;
        margin-top: -21.5%;
        margin-left: 17%;
    }
    
    

}


@media screen and (min-width:820px) and (max-width:920px){
    .faq-item{
        margin: 10px 0;
    }

    .par{
        margin-left: 18%;
        margin-top: 2.5%;
        width: 72%;
        font-size: 24px;
    }
    .heading{
        margin-left: 26%;
        font-size: 38px;
        margin-top: -1.5%;
    } 
    #faqs{
        text-align: center;
        font-size: 80px;
        margin-top: -0.1%;
        margin-left: 20%;
    }
  
    .search{
        margin-left: 25%;
        margin-top: 5%; 
    
    }
    
    .search-button{
        width: 84%;
        height: 40px;
        margin-left: -35%;
        margin-top: -8%;
        background-color: white;
        border: none;
    }
    .search-par{
        margin-top: 10px;
        font-size: 44px;
        margin-left: -40%;
    }
    .search-submit{
        height: 40px;
        width: 14%;
        background-color: white;
        border: none;
        margin-left: 0.7%;
    }
    .search-image{
        position: relative;
        margin-left: -29.6%;
        width: 135%;
        height: 200px;
        opacity: 40%;
        margin-top: -3.5%;
    }
    
    .text-over{
        position: absolute;
        margin-top: -22.5%;
        margin-left: 18.5%;
    }
    

}


@media screen and (min-width:1000px) and (max-width:1100px){
    .faq-item{
        margin: 10px 0;
    }

    .par{
        margin-left: 15%;
        margin-top: 2.5%;
        width: 76%;
        font-size: 28px;
    }
    .heading{
        margin-left: 29.5%;
        font-size: 35px;
        margin-top: -1.5%;
    } 
    #faqs{
        text-align: center;
        font-size: 80px;
        margin-top: -0.1%;
        margin-left: 13%;
    }
  
    .search{
        margin-left: 25%;
        margin-top: 5%; 
    
    }
    
    .search-button{
        width: 74%;
        height: 42px;
        margin-left: -23%;
        margin-top: -5%;
        background-color: white;
        border: none;
    }
    .search-par{
        margin-top: 10px;
        font-size: 48px;
        margin-left: -30%;
    }
    .search-submit{
        height: 42px;
        width: 15%;
        background-color: white;
        border: none;
        margin-left: 0.7%;
    }
    .search-image{
        position: relative;
        margin-left: -27%;
        width: 128%;
        height: 200px;
        opacity: 40%;
        margin-top: -3.5%;
    }
    
    .text-over{
        position: absolute;
        margin-top: -18.5%;
        margin-left: 16.5%;
    }

}

@media screen and (min-width:1200px) and (max-width:1400px){
 
    .par{
        margin-left: 20%;
        margin-top: 2.5%;
        width: 76%;
        font-size: 22px;
    }
    .heading{
        margin-left: 38.5%;
        font-size: 35px;
        margin-top: -1.5%;
    } 
    #faqs{
        text-align: center;
        font-size: 80px;
        margin-top: -0.1%;
        margin-left: 16%;
    }
  
    .search{
        margin-left: 25%;
        margin-top: 5%; 
    
    }
    
    .search-button{
        width: 69%;
        height: 40px;
        margin-left: -22%;
        margin-top: -5%;
        background-color: white;
        border: none;
    }
    .search-par{
        margin-top: 10px;
        font-size: 44px;
        margin-left: -30%;
    }
    .search-submit{
        height: 40px;
        width: 15%;
        background-color: white;
        border: none;
        margin-left: 0.7%;
    }
    .search-image{
        position: relative;
        margin-left: -24.8%;
        width: 122%;
        height: 200px;
        opacity: 40%;
        margin-top: -3.5%;
    }
    
    .text-over{
        position: absolute;
        margin-top: -14.5%;
        margin-left: 18.5%;
    }

}



